.content-education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 600px;
}

.content-education h2 {
  color: rgb(67, 6, 6);
}

.div-education {
  display: flex;
  flex-direction: column;
  gap: var(--gap-space-small);
}

.div-education button {
  align-items: center;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: var(--gap-space-small);
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: var(--gap-space-small);
}

.div-education button:before {
  background-color: #fff;
  content: '';
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all 0.42s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 0;
}

.div-education button:hover:before {
  background-color: #fff;
  width: var(--gap-space-medium);
}

.div-education ul img {
  width: 50px;
}

.div-education ul {
  flex-direction: column;
  justify-content: center;
}

.div-education ul li {
  display: flex;
  align-items: center;
  gap: var(--gap-space-small);
}

.div-education article {
  width: 520px;
  justify-content: center;
  font-weight: 600;
}

.button {
  align-items: center;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: var(--gap-space-small);
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: var(--gap-space-small);
}

.button:before {
  background-color: #fff;
  content: '';
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all 0.42s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 0;
}

.button:hover:before {
  background-color: #fff;
  width: var(--gap-space-medium);
}

@media (max-width: 600px) {
  .div-education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .content-education {
    width: 450px;
  }

  .div-education article {
    width: 300px;
    text-align: center;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .content-education {
    width: 550px;
  }
}

@media (max-width: 480px) {
  .div-education article p {
    width: 200px;
  }

  .content-education h2 {
    font-size: var(--font-size-medium);
  }

  .content-education {
    width: 400px;
  }

  .div-education ul {
    width: 380px;
    text-align: start;
  }

  .content-education .div-education article {
    width: 300px;
    text-align: center;
  }

  footer {
    width: 300px;
  }
}
